<% @supplier.each do |supply| %>
<p>Name: <%= supply.name() %></p>
<p>Website: <%= supply.website %></p>
<p>E-mail: <%= supply.email() %></p>
<p>Contact Number: <%= supply.contact_number %></p>
<hr />
<% end %>
