<h1>ADD NEW SUPPLIER</h1>

<form method="post" action="/suppliers">
  
  <label for="name">Name:</label>
  <input type="text" name="name" id="name" />

  <label for="email">E-Mail:</label>
  <input type="text" name="email" id="email" />

  <label for="contact-number">Telephone:</label>
  <input type="text" name="contact_number" id="contact-number" />

  <label for="website">Website:</label>
  <input type="text" name="website" id="website" />

  <input type="submit" value="Save">

</form>
