<h1>ADD NEW SUPPLIER</h1>

<form method="post" action="/suppliers">
  <p>
  <label for="picture">Image Link:</label>
  <input type="text" name="picture">
  </p>
  <p>
  <label for="name">Name:</label>
  <input type="text" name="name" id="name" />
  </p>
  <p>
  <label for="email">E-Mail:</label>
  <input type="text" name="email" id="email" />
  </p>
  <p>
  <label for="contact-number">Telephone:</label>
  <input type="text" name="contact_number" id="contact-number" />
  </p>
  <p>
  <label for="website">Website:</label>
  <input type="text" name="website" id="website" />
  </p>
  <input type="submit" value="Save">

</form>
