<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Inventory</title>
  </head>
  <body>
    <nav>
      <ul>
        <li>
        <a href="/products">Stock - Quick View</a>
        </li>
        <li>
        <a href="/products/all">Stock - Detailed View</a>
      </li>
      <li>
        <a href="/products/new">Add Book to Stock</a>
    </li>
      <li>
      <a href="/suppliers">All Suppliers</a>
    </li>
    <li>
      <a href="/suppliers/new">Add new Supplier</a>
    </li>
    </ul>
    </nav>
    <%= yield %>
  </body>
</html>
