body {
  background-color: beige;
}

.container {
  width: 100%;
  margin: auto;
}

.float {
  width: 20%;
  float: left;
}

h1 {
  text-align: center;
  font-size: 75px;
  font-family: fantasy;
}

ul {
  list-style-type: none;
  margin: 10px;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

.active {
  background-color: #4CAF50;
}

.record {
  text-align: center;
  border: 5px double;
  margin: 0 30px 30px 30px;
  padding: 25px;
  width: 200px;
}

p.green{
  color: #008000;
}

p.red{
  color: #FF0000;
}

p.orange{
  color: #FF8C00;
}
