body {
  background-color: beige;
}

h1 {
  text-align: center;
}

ul {
  list-style-type: none;
}

#spacing  {
  display: flex;
}

.record {
  border: 5px double;
  margin: 0 35px 30px 0;
  padding: 25px;
  width: 200px;
}

p.green{
  color: #008000;
}

p.red{
  color: #FF0000;
}

p.orange{
  color: #FF8C00;
}
