<h1>ADD NEW BOOK TO STOCK</h1>
<form method="post" action="/products">

  <label for="book-name">Title:</label>
  <input type="text" name="book_name" id="book-name" />

  <label for="author">Author:</label>
  <input type="text" name="author" id="author" />

  <label for="genre">Select a Genre:</label>
  <select class="genre" name="genre">
    <% for product in @products %>
      <option value="<%= product.genre %>"><%= product.genre %></option>
    <% end %>
  </select>

  <label for="description">Book Details:</label>
  <input type="text" name="description" id="description" />

  <label for="supplier-name">Supplier:</label>
  <select name="supplier_name" id="supplier-name">
    <% for supplier in @suppliers %>
      <option value="<%= supplier.id %>"><%= supplier.name %></option>
    <% end %>
  </select>

  <label for="quantity">Quantity:</label>
  <input type="number" name="quantity" id="quantity" />

  <label for="wholesale-price">Wholesale Cost: £</label>
  <input type="text" name="wholesale_price" id="wholesale-price" />

  <label for="retail-price">Retail: £</label>
  <input type="text" name="retail_price" id="retail-price" />


    <input type="submit" value="Save Details">
</form>
